<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Who am i</title>
    <script>
        const roomName = "<%= roomName %>"
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="animate.css">
</head>

<body>
    <center>
        <center>
            <div class="container">
                <!-- <img id="signgif" src="sign.gif"> -->
                <!-- ALERTS -->
                <button class="animated jello btn btn-success" id="ANSyes"> <b>Yes</b> </button>
                <button class="animated jello btn btn-danger" id="ANSno"> <b>No</b> </button>
                <!--  -->
                <button class="animated jello btn btn-success" id="ANSyes2"> <b>Yes</b> </button>
                <button class="animated jello btn btn-danger" id="ANSno2"> <b>No</b> </button>
                <!-- ALERTS -->

                <div class="animated tada btn-warning" id="iknow"> <b>I KNOW IT!</b> </div>

                <div id="message" class="animated heartBeat">
                    <h6 id="Mess">Message</h6>
                </div>

                <!-- <div id="timer">
                    30
                </div> -->


                <img class="hand animated pulse infinite" src="hand.png" id="hand" alt="">

                <img class="papers" id="papers" src="papers.png">
                <img class="lecards" id="lecards" src="cards.png">
                <img class="lemap" src="letest.png">
            </div>

            <div class="row misterys">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col" id="divOne">
                    <div id="colorone"></div>
                    <h6 id="one" onclick="search(1)"></h6>
                </div>
                <div class="col" id="divTwo">
                    <div id="colortwo"></div>
                    <h6 id="two" onclick="search(2)"></h6>
                </div>
                <div class="col" id="divThree">
                    <div id="colorthree"></div>
                    <h6 id="three" onclick="search(3)"></h6>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>

            <div id="controls">
                <button id="btnYes" type="button" class="btn btn-success wannaAns" onclick="openYes()" disabled>
                    <b>Yes</b>
                </button>
                <button id="btnNo" type="button" class="btn btn-danger wannaAns" onclick="openNo()" disabled> <b>No</b>
                </button>
            </div>
            <div id="where_make_questions" class="">
                <input type="text" id="makeQuestions" placeholder="Type your question...">
                <button class="send" id="btnsend" onclick="sendQ()">
                    <img width="25px" height="25px" src="send.png" alt="">
                </button>
                <!-- <button type="button" class="sendclass btn-success" onclick="sendQuestion()">Send</button> -->
            </div>


            <!-- Modal -->
            <div class="modal" id="MistaryNameModal" data-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5><i>Room name: <%= roomName %></i></h5>
                            <h4>Write the name of your character</h4>
                            <input type="text" id="mistery" name="mistery" required autofocus>
                            <button type="submit" class="btn btn-primary" onClick="registerOfNewPlayer()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal2 -->
            <div class="modal" id="waitingModal" data-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5>Just Waiting...</h5>
                            <script>
                            </script>
                            <h4 id="usersConnected">Ready Users: 1</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal3 -->
            <div class="modal" id="finalmodal" data-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h2 id="finalmsn"></h2>
                            <!-- <a href="http://localhost:3000/">Go to Home</a> -->
                            <h5 id="finalchar"></h5>
                            <button class="btn btn-primary" id="goto">
                                <b>Go to home</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal4 -->
            <div class="modal fade" id="shortcuts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Shortcuts</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group" id="listOfShorts">
                                <li class="list-group-item" onclick="sendShort('Am I real?')">Am I a real?</li>
                                <li class="list-group-item" onclick="sendShort('Am I a woman?')">Am I a woman?</li>
                                <li class="list-group-item" onclick="sendShort('Am I from Colombia?')">Am I from
                                    Colombia?</li>
                                <li class="list-group-item" onclick="sendShort('Am I old (> 50)?')">Am I old (> 50)?
                                </li>
                                <li class="list-group-item" onclick="sendShort('Am I young? (< 30)')">Am I young? (<
                                        30)</li> <li class="list-group-item"
                                        onclick="sendShort('Am I a soccer player?')">Am I a soccer player?</li>
                                <li class="list-group-item" onclick="sendShort('Am I a Singer?')">Am I a Singer?</li>
                                <li class="list-group-item" onclick="sendShort('Am I a Hollywood Star?')">Am I a
                                    Hollywood Star?</li>
                                <li class="list-group-item" onclick="sendShort('Am I an Actor?')">Am I an Actor?</li>
                                <li class="list-group-item" onclick="sendShort('Am I DJ Vaas?')">Am I a DJ Vaas?</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal5 -->
            <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Searching</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modalSearchBody">
                            <iframe src="https://www.w3schools.com">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>

        </center>
        <script>
            const goto = document.getElementById('goto');
            goto.addEventListener("click", () => {
                window.location.replace("https://whoamio.herokuapp.com");
            })
        </script>
        <script src="/socket.io/socket.io.js" charset="UTF-8"></script>


        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

        <script src="index.js"></script>
        <script src="bitest.js"></script>
</body>

</html>